@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: blue;
  --color-secondary: teal;
}

.btn-club {
   @apply px-6 py-3 font-semibold text-white rounded-xl transition duration-300
  bg-gradient-to-r from-purple-500 via-pink-500 to-orange-400
  hover:shadow-[0_0_20px_rgba(255,100,200,0.5)]
  hover:scale-105 active:scale-95;
}

.text-gradient {
  @apply bg-gradient-to-r from-indigo-600 via-purple-500 to-pink-500 bg-clip-text text-transparent;
}


body{
  
  font-family: "Roboto", sans-serif;
}
