@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: blue;
  --color-secondary: teal;
}

.btn-club {
   @apply px-6 py-3 font-semibold text-white rounded-xl transition duration-300
  bg-gradient-to-r from-purple-500 via-pink-500 to-orange-400
  hover:shadow-[0_0_20px_rgba(255,100,200,0.5)]
  hover:scale-105 active:scale-95;
}

.text-gradient {
  @apply bg-gradient-to-r from-blue-500 to-purple-500 text-transparent bg-clip-text;
}


body{
  background-color: #EEF2F7;
}
